fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
langchain>=0.2.0
langchain-cerebras
chromadb>=0.4.22
sentence-transformers
presidio-analyzer
presidio-anonymizer
firebase-admin
oracledb
python-dotenv
pypdf
rank-bm25
requests
transformers
sentencepiece
torch
langdetect
python-multipart
reportlab
python-docx
